[Unit]
Description=YouTube Studio - Pi 4 live streaming daemon
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
ExecStartPre=/usr/sbin/ethtool --set-eee eth0 eee off
ExecStartPre=/usr/sbin/ethtool -K eth0 gro off gso off
ExecStart=/usr/bin/python3 /home/coreymillia/youtube-studio/youtube_studio.py
WorkingDirectory=/home/coreymillia/youtube-studio
User=coreymillia
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
